/*CUSTOM STYLES*/

body {
    background-color: #1f1e1e;
    color: #e8e8e8;
}

/*yes you really do need all of this to style react select 😭*/
.input-title, .input-text, .react-select__menu, .react-select__menu-list, .react-select__option, .form-control {
    background-color: #333333 !important;
    color: #e8e8e8 !important;
}

.react-select__menu {
    border-radius: .375rem !important;
    overflow: hidden !important;
    border: 1px solid #ced4da;
}

.react-select__multi-value__remove, .react-select__option:hover {
    background-color: #3e3d3d !important;
}

.react-select__multi-value__remove:hover {
    background-color: #333333 !important;
}

.react-select__multi-value__label, .react-select__value-container, .react-select__multi-value {
    background-color: #333333 !important;
    color: #e8e8e8 !important;
}

.react-select__indicators {
    background-color: #333333;
}

.react-select__control {
    overflow: hidden !important;
}

:focus, :focus-visible, .react-select__control--is-focused {
    border-color: #7400c2 !important;
    box-shadow: none !important;
    border-radius: 0.6rem !important;
    transition: 600ms !important;
}

/*bootstrap overrides*/

.btn-primary {
    background-color: #7400c2 !important;
    border-color: #7400c2 !important;
}

.btn-primary:hover {
    background-color: #56008f !important;
    border-color: #56008f !important;
}

.btn-outline-secondary:hover {
    background-color: #41006c !important;
    border-color: #41006c !important;
}

a {
    color: #7400c2 !important;
}
